
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Halcon Postales</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Halcones.com Tarjetas virtuales y postales animadas para todos los días. Envía a tus seres queridos mensajes de cumpleaños, amor y amistad, felicitaciónes, saludos diarios, para todos los  días festivos">
        <link href="{{ asset('bundles/frontend/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/frontend/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="{{ asset('bundles/frontend/js/html5shiv.js') }}"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link href="{{ asset('bundles/frontend/css/global.css') }}" rel="stylesheet">
    </head>
    <body>        
        {% block content %} {% endblock %}
        <script src="{{ asset('bundles/frontend/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/frontend/js/bootstrap.min.js') }}"></script>
    <script>
        !function($) {
            $(function() {
                // carousel demo
                $('#carousel_home').carousel();
                
                	$('#myCarousel').carousel({
interval: 10000
})
            });
        }(window.jQuery);
        </script>
        <script src="{{ asset('bundles/frontend/js/holder.js') }}"></script>
    </body>
        </html>