<div id="menubar" {% if carousel == true %} class="carousel" {% endif %} >
    <div class="container navbar-wrapper">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{ path('cards_homepage_home') }}">Halcon Postales</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Categorias<strong class="caret"></strong></a>
                            {% include "CardsBundle:Home:categoriesHome.html.twig" %}
                        </li>
                        <li><a href="#novedades">Novedades</a></li>
                        <li><a href="#comentarios">Comentarios</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Registrate <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form method="post" action="{{ path('cards_conctact_add') }}" accept-charset="UTF-8">
                                    {{ form_widget(form.firstName) }}
                                    {{ form_widget(form.lastName) }}
                                    {{ form_widget(form.email) }}
                                    {{ form_widget(form.gender) }}
                                    <input type="date" id="contact_birthday" name="contact[birthday]" placeholder="Cumplea침os">
                                    {{ form_widget(form.sourceType) }}
                                    {{ form_widget(form.relationType) }}
                                    <input type="date" id="contact_dateAnniversary" name="contact[dateAnniversary]" placeholder="Aniversario">
                                    {{ form_widget(form.cellphone) }}
                                    {{ form_widget(form.phone) }}
                                    {{ form_widget(form.status) }}
                                    {{ form_widget(form.save) }}
                                    
                                </form>
                            </div>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Iniciar Sesi칩n <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form method="post" action="login" accept-charset="UTF-8">
                                    <input style="margin-bottom: 15px;" type="text" placeholder="Usuario" id="username" name="username">
                                    <input style="margin-bottom: 15px;" type="password" placeholder="Contrase침a" id="password" name="password">
                                    <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                                    <label class="string optional" for="user_remember_me"> Remember me</label>
                                    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Iniciar Sesi칩n">
                                    <label style="text-align:center;margin-top:5px">or</label>
                                    <input class="btn btn-primary btn-block" type="button" id="login-facebook" value="Iniciar con Facebook">
                                    <input class="btn btn-primary btn-block" type="button" id="login-twitter" value="Iniciar con Twitter">
                                </form>
                            </div>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

    </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->