{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tarjeta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tipopostal</th>
                <td>{{ entity.tipopostal }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Etiquetabusqueda</th>
                <td>{{ entity.etiquetabusqueda }}</td>
            </tr>
            <tr>
                <th>Rutatarjeta</th>
                <td>{{ entity.rutatarjeta }}</td>
            </tr>
            <tr>
                <th>Rutaminiatura</th>
                <td>{{ entity.rutaminiatura }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.genero }}</td>
            </tr>
            <tr>
                <th>Invitadodisponible</th>
                <td>{{ entity.invitadodisponible }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fecharegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_tarjetas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_tarjetas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
