{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CardShipping</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idusuario</th>
                <td>{{ entity.idusuario }}</td>
            </tr>
            <tr>
                <th>Ipaddress</th>
                <td>{{ entity.ipAddress }}</td>
            </tr>
            <tr>
                <th>Recipienttreatment</th>
                <td>{{ entity.recipientTreatment }}</td>
            </tr>
            <tr>
                <th>Recipientname</th>
                <td>{{ entity.recipientName }}</td>
            </tr>
            <tr>
                <th>Recipientemail</th>
                <td>{{ entity.recipientEmail }}</td>
            </tr>
            <tr>
                <th>Remittername</th>
                <td>{{ entity.remitterName }}</td>
            </tr>
            <tr>
                <th>Remitteremail</th>
                <td>{{ entity.remitterEmail }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Shippingat</th>
                <td>{{ entity.shippingAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Receivedat</th>
                <td>{{ entity.receivedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Expiredat</th>
                <td>{{ entity.expiredAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cardshipping') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
